.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


// Social Variants buttons
@each $color,
$value in $social-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

// Social Variants buttons outline
@each $color,
$value in $social-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    @include piru-btn-outline($value);
  }
}

.btn .feather {
  width: 14px;
  height: 14px;
}

@include dark-mode () {
  .btn-light {
    background-color: lighten($dark, 7.5%);
    color: $white;
    border-color: $gray-600;

    &:hover,
    &:focus {
      background-color: lighten($dark, 10%);
      color: $gray-300;
      border-color: lighten($gray-600, 5%);
    }
  }

  @each $color,
  $value in $theme-colors-alt {
    .btn-#{$color} {
      @if $color ==dark {
        @include button-variant(darken($value, 5%), lighten($value, 10%));
      }

      @else {
        @include button-variant($value, $value);
      }
    }
  }

  @each $color,
  $value in $theme-colors-alt {
    .btn-outline-#{$color} {
      @if $color ==dark {
        @include button-outline-variant(darken($value, 20%));
      }

      @else {
        @include button-outline-variant($value);
      }
    }
  }
}