@include dark-mode () {

  .form-control:not(.form-control-navbar):not(.form-control-sidebar),
  .custom-select,
  .custom-file-label,
  .custom-file-label::after,
  .custom-control-label::before,
  .input-group-text {
    background-color: $dark;
    color: $white;
  }

  .form-control:not(.form-control-navbar):not(.form-control-sidebar):not(.is-invalid):not(:focus),
  .custom-file-label,
  .custom-file-label::after {
    border-color: $gray-600;
  }

  select {
    background-color: $dark;
    color: $white;
    border-color: $gray-600;
  }

  .input-group-text {
    border-color: $gray-600;
  }

  .custom-control-input:disabled~.custom-control-label::before,
  .custom-control-input[disabled]~.custom-control-label::before {
    background-color: lighten($dark, 5%);
    border-color: $gray-600;
    color: $white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $white;
  }

}