extends ../includes/auth-layout

append config
  -pageName = 'Reset Password'

block content

  .container.d-flex.flex-column
    .row.vh-100
      .col-sm-12.col-md-10.col-lg-4.mx-auto.d-table.h-100
        .d-table-cell.align-middle
          .card
              .card-header
                h1.h1.text-center #{siteName}
              .card-body

                p.text-center.text-muted You forgot your password? Here you can easily retrieve a new password.

                form(action='#' method='post')
                  .input-group.mb-3
                    input.form-control(type='email' placeholder='Email')
                    span.input-group-text 
                      i.fa.fa-envelope

                  button.btn.btn-primary.w-100.mb-1(type='submit') Request new password

                p.m-0
                  a(href='#') login

