extends ../includes/auth-layout

append config
  -pageName = 'Recover Password'

block content

  .container.d-flex.flex-column
    .row.vh-100
      .col-sm-12.col-md-10.col-lg-4.mx-auto.d-table.h-100
        .d-table-cell.align-middle
          .card
              .card-header
                h1.h1.text-center #{siteName}
              .card-body

                p.text-center.text-muted You are only one step a way from your new password, recover your password now.

                form(action='#' method='post')
                  .input-group.mb-3
                    input.form-control(type='password' placeholder='Password')
                    span.input-group-text 
                      i.fas.fa-lock
                  .input-group.mb-3
                    input.form-control(type='password' placeholder='Confim Password')
                    span.input-group-text 
                      i.fas.fa-lock

                  button.btn.btn-primary.w-100.mb-1(type='submit') Change password

                p.m-0
                  a(href='#') login