extends ../includes/layout

append config
  -pageName = 'Upgrade to Pro'

block content

  .row
    .col-12.col-md-11.col-lg-10.col-xl-8.col-xxl-6.mx-auto
      .card
        img.card-img-top(src='https://dummyimage.com/850x350/000/fff.jpg' alt='AdminKit - Free & Premium Bootstrap 5 Admin Template')
        .card-header
          h5.card-title PiruAdmin PRO
          h6.card-subtitle.text-muted Looking for more components and customizations? Check out our premium version. 
        .card-body
          .table-responsive.table-upgrade
            table.table
              thead
                tr
                  th
                  th.text-center Basic
                  th.text-center Pro
              tbody
                tr
                  td.text-center
                  td.text-center
                    a.btn.btn-light(target='_blank' href='#') Download
                  td.text-center
                    a.btn.btn-primary(target='_blank' href='#') Upgrade to Pro
                tr
                  td Demo Pages
                  td.text-center 15
                  td.text-center
                    strong 45+
                tr
                  td Plugins
                  td.text-center 1
                  td.text-center
                    strong 10+
                tr
                  td Color Schemes
                  td.text-center 1
                  td.text-center
                    strong 3
                tr
                  td All Bootstrap 5 Components
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td Dark Mode &#x1F319;
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td Compact Sidebar
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td Calendar
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td Advanced Forms
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td Drag and Drop
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td Toast Notifications
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td WYSIWYG Editors
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td Premium Support
                  td.text-center
                    span(role='img' aria-label='no') &#x274C;
                  td.text-center
                    span(role='img' aria-label='yes') &#x2714;
                tr
                  td
                  td.text-center Free
                  td.text-center Starting from $59
                tr
                  td.text-center
                  td.text-center
                    a.btn.btn-light(target='_blank' href='#') Download
                  td.text-center
                    a.btn.btn-primary(target='_blank' href='#') Upgrade to Pro
